* { margin: 0;
	padding: 0;
}

.component-price {
	text-align: center;
	width: 20%;
}

.components-side-bar{
	width: 25%;
	height: inherit;
	position: absolute;
	left: 0;
	z-index: 900;
	border: solid 1px rgb(208, 208, 208);
	/*box-shadow: -5px 0px 111px -43px black inset;*/
}

.components-side-bar .search {
	padding: 5px;
	background-color: #f0f0f0;
	width: auto;
}

.components-side-bar .sizes {
	height: 75px;
	display: -webkit-box;
}

.components-side-bar .sizes .size {
	display: table;
	height: 100%;
  	width: 32.8%;
  	background-color: #f0f0f0;
  	border: 1px solid;
  	border-color: #E0E0E0;
  	text-align: center;
  	vertical-align: middle;
  	font-size: 32;
 	color: #C2C2C2;
 	font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
 }
.components-side-bar .sizes .size:hover {
	background-color: #c0c0c0;
	color: white;
}


.components-side-bar .group-title {
	margin: 15px;
	font-size: 22;
	color: #6c6c6c;
	font-style: italic;
}

.component-cell {
	border: 1px solid #f0f0f0;
	width: auto;
	position: relative;
  	display: flex;
  	font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

.component-cell img {
	width: 100px;
	margin-top: 10px;
	margin-left: 5px;
}

.component-cell .info {
	padding: 20px;
	padding-bottom: 5px;
}

.component-cell .title {
	padding-top: 10px;	
	display: table-row; 
	font-size: 20;
}

.component-cell .price {
	padding-top: 5px;
}

.component-cell .add-button {
	background: transparent;
	border: 0;
	background-image: url("../img/add_button.png");
	width: 150px;
	height: 38px;
	margin-top: 5px;
}

.workplace{
	position: fixed;
	width: 75%;
	height: 70%;
	margin-left: 20%;
	text-align: center;
}

.workplace .base {
	margin-top:40px;
	width:70%;
	position: absolute;
	z-index:-1;
}


/*-------------------------------------------------------------------*/
.calculation{
	position: fixed;
	top: 70%;
	width: 75%;
	height:30%;
	margin-left: 25%;
	border-top: 1px solid #d3d3d3;

	text-align: center;
	font-size: 24pt;
	font-family: Tahoma;
}

.calculation .total-price {
	padding: 15px;
	padding-left: 30px;
	text-align: left;
}

.calculation .selected-components {
	text-align: left;
	padding-left: 30px;
	color: gray;
	font-size: 14;
	display: -webkit-box;;
	height: 57%;
}

.calculation .send-order {
	position: absolute;
	right: 10px;
	top: 8px;
	height: 75px;
	width: 180px;
	background: transparent url("../img/Send.png") no-repeat;
	border: solid 0px;
}

.calculation .order-component {
	margin-top: 8px;
	height: initial;
	width: 145px;
	background-color: #f0f0f0;
	border: 1px solid #B6B6B6;
	border-radius: 10px;
}


.calculation .selected-components .list-component-img {
	width: 20px;
	height: 41px;
	margin-left: 10px;
	margin-top: 5px;
}

.calculation .selected-components .list-component-info {
	position: relative;
	top: 10px;
	left: 10px;
	height: 34px;
}

.calculation .selected-components .list-component-trash {
	position: relative;
	top: -85px;
	left: 100px;
}